/*UNIVERSAL STYLE. APPLICABLE for FULL WEBSITE------------------------------------------------------------------------*/

* {
    /*The font is collected from fonts.google.com and has embedded here, so that the font will be applied to the full website automatically*/
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /*font-style: normal;*/

    /*Removing the border and margin given default by the browser.*/
    border: 0;
    margin: 0;
}

/*NAVBAR CONTAINER----------------------------------------------------------------------------------------------------*/

.navbar-container {
    /*border: 2px solid red;*/
    height: 131px;
    width: 1857px;
    margin: 0 auto;
    display: flex;
}

/*NAVBAR LEFT K.MD.ZAHID LOGO-----------------------------------------------------------------------------------------*/

.navbar-container .nav-left {
    /*border: 2px solid red;*/
    width: 50%;
    margin: auto auto auto 193px;
}

.navbar-container .nav-left .nav-logo h1 {
    color: rgb(13, 19, 33);
    font-size: 36px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
}

/*NAVBAR RIGHT DOWNLOAD NOW BUTTON------------------------------------------------------------------------------------*/

.navbar-container .nav-right {
    /*border: 2px solid red;*/
    width: 50%;
    margin: auto 214px auto auto;
    display: flex;
    justify-content: right;
}

.navbar-container .nav-right .nav-button a {
    text-decoration: none;
}
.navbar-container .nav-right .nav-button span {
    width: 294px;
    height: 29px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px 17px 24px;
    opacity: 0.8;
    cursor: pointer;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0;
    text-align: center;
}

/*HERO CONTAINER------------------------------------------------------------------------------------------------------*/

.hero-container {
    /*border: 2px solid red;*/
    height: 800px;
    width: 1857px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*HERO BOY WITH LAPTOP IMAGE------------------------------------------------------------------------------------------*/

.hero-container .hero-image img {
    height: 300px;
    margin-bottom: 30px;
}

/*HERO I HOPE TO BECOME a DEVELOPER TITLE-----------------------------------------------------------------------------*/

.hero-container .hero-text {
    width: 60%;
    margin: 0 auto 80px auto;
}

.hero-container .hero-text .title {
    color: rgb(13, 19, 33);
    font-size: 50px;
    font-weight: 900;
    line-height: 68px;
    margin-bottom: 30px;
}

/*HERO SUBTITLE-------------------------------------------------------------------------------------------------------*/

.hero-container .hero-text .subtitle {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

/*HERO CONTACT WITH ME BUTTON-----------------------------------------------------------------------------------------*/

.hero-container .hero-button .button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    /*margin-bottom: 44px;*/

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    cursor: pointer;
}
.hero-container .hero-button a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/*WHY WEB DEVELOPMENT CONTAINER---------------------------------------------------------------------------------------*/

.web-dev-container {
    /*border: 2px solid red;*/
    width: 1857px;
    margin: 0 auto;
}
.web-dev-container .web-dev-items {
    border: 2px solid white;
    width: 85%;
    margin: 100px auto;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

/*WHY WEB DEVELOPMENT CONTAINER: ITEM 01------------------------------------------------------------------------------*/

.web-dev-container .web-dev-items .item1 {
    /*border: 2px solid red;*/
    width: 75%;
    margin: 80px auto;
    justify-content: center;
    text-align: center;
}
.web-dev-container .web-dev-items .item1 h1 {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
}
.web-dev-container .web-dev-items .item1 p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    opacity: 0.7;
}

/*WHY WEB DEVELOPMENT CONTAINER: ITEM 02------------------------------------------------------------------------------*/

.web-dev-container .web-dev-items .item2 {
    /*border: 2px solid red;*/
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    width: 90%;
    margin: 80px auto;
    display: flex;
}
.web-dev-container .web-dev-items .item2 .left-side {
    /*border: 2px solid #FD6E0A;*/
    width: 50%;
}
.web-dev-container .web-dev-items .item2 .left-side h3 {
    /*border: 2px solid #FD6E0A;*/
    margin: 80px 50px 30px 80px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.web-dev-container .web-dev-items .item2 .left-side p {
    /*border: 2px solid #FD6E0A;*/
    margin: 0 50px 50px 80px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.web-dev-container .web-dev-items .item2 .left-side span {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 0 50px 30px 80px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}
.web-dev-container .web-dev-items .item2 .right-side {
    /*border: 2px solid blue;*/
    width: 50%;
}
.web-dev-container .web-dev-items .item2 .right-side img {
    display: block;
    margin: 50px 80px 50px auto;
}

/*WHY WEB DEVELOPMENT CONTAINER: ITEM 03------------------------------------------------------------------------------*/

.web-dev-container .web-dev-items .item3 {
    /*border: 2px solid red;*/
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    width: 90%;
    margin: 80px auto;
    display: flex;
}
.web-dev-container .web-dev-items .item3 .left-side {
    /*border: 2px solid blue;*/
    width: 30%;
}
.web-dev-container .web-dev-items .item3 .left-side img {
    display: block;
    margin: 50px auto 50px 80px;
}
.web-dev-container .web-dev-items .item3 .right-side {
    /*border: 2px solid #FD6E0A;*/
    width: 70%;
}
.web-dev-container .web-dev-items .item3 .right-side h3 {
    /*border: 2px solid #FD6E0A;*/
    margin: 80px 80px 30px 80px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.web-dev-container .web-dev-items .item3 .right-side p {
    /*border: 2px solid #FD6E0A;*/
    margin: 0 80px 50px 80px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.web-dev-container .web-dev-items .item3 .right-side span {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 0 80px 30px 80px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

/*WHY WEB DEVELOPMENT CONTAINER: ITEM 04------------------------------------------------------------------------------*/

.web-dev-container .web-dev-items .item4 {
    /*border: 2px solid red;*/
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    width: 90%;
    margin: 80px auto;
    display: flex;
}
.web-dev-container .web-dev-items .item4 .left-side {
    /*border: 2px solid #FD6E0A;*/
    width: 50%;
}
.web-dev-container .web-dev-items .item4 .left-side h3 {
    /*border: 2px solid #FD6E0A;*/
    margin: 80px 50px 30px 80px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.web-dev-container .web-dev-items .item4 .left-side p {
    /*border: 2px solid #FD6E0A;*/
    margin: 0 50px 50px 80px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.web-dev-container .web-dev-items .item4 .left-side span {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 0 50px 30px 80px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}
.web-dev-container .web-dev-items .item4 .right-side {
    /*border: 2px solid blue;*/
    width: 50%;
}
.web-dev-container .web-dev-items .item4 .right-side img {
    display: block;
    margin: 50px 80px 50px auto;
}

/*MY INSPIRATION CONTAINER--------------------------------------------------------------------------------------------*/

.inspiration-container {
    /*border: 2px solid red;*/
    width: 1857px;
    margin: 0 auto;
}
.inspiration-container .inspiration-items {
    /*border: 2px solid blue;*/
    width: 85%;
    margin: 100px auto;

}
.inspiration-container .inspiration-items .text-item {
    justify-content: center;
    text-align: center;
    margin: 50px 200px;
}

/*MY INSPIRATION CONTAINER TITLE--------------------------------------------------------------------------------------*/

.inspiration-container .inspiration-items .text-item h1 {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

/*MY INSPIRATION CONTAINER SUBTITLE-----------------------------------------------------------------------------------*/

.inspiration-container .inspiration-items .text-item p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/*MY INSPIRATION CONTAINER VIDEO--------------------------------------------------------------------------------------*/

.inspiration-container .inspiration-items .video-item {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 30px;

}
.inspiration-container .inspiration-items .video-item iframe {
    width: 100%;
    height: 900px;
    border-radius: 16px;
}

/*MY CURRENT TARGET SECTION-------------------------------------------------------------------------------------------*/

.target-container {
    /*border: 2px solid red;*/
    width: 1857px;
    margin: 0 auto;
}
.target-container .target-items {
    /*border: 2px solid blue;*/
    width: 85%;
    margin: 100px auto;
}
.target-container .target-items .text-item {
    justify-content: center;
    text-align: center;
    margin: 50px 200px;
}

/*MY CURRENT TARGET TITLE---------------------------------------------------------------------------------------------*/

.target-container .target-items .text-item h1 {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

/*MY CURRENT TARGET SUBTITLE------------------------------------------------------------------------------------------*/

.target-container .target-items .text-item p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

/*MY CURRENT TARGET CARDS---------------------------------------------------------------------------------------------*/

.target-container .target-items .card-items {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 50px;
}

/*MY CURRENT TARGET CARD-01-------------------------------------------------------------------------------------------*/

.target-container .target-items .card-items .card1 {
    /*border: 1px solid red;*/
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-container .target-items .card-items .card1 h3 {
    margin: 30px auto 30px 0;
    color: rgba(13, 19, 33, 0.7);
    font-size: 30px;
    font-weight: 700;
}
.target-container .target-items .card-items .card1 p {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.target-container .target-items .card-items .card1 a {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

/*MY CURRENT TARGET CARD-02-------------------------------------------------------------------------------------------*/

.target-container .target-items .card-items .card2 {
    /*border: 1px solid red;*/
    background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-container .target-items .card-items .card2 h3 {
    margin: 30px auto 30px 0;
    color: rgba(13, 19, 33, 0.7);
    font-size: 30px;
    font-weight: 700;
}
.target-container .target-items .card-items .card2 p {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.target-container .target-items .card-items .card2 a {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

/*MY CURRENT TARGET CARD-03-------------------------------------------------------------------------------------------*/

.target-container .target-items .card-items .card3 {
    /*border: 1px solid red;*/
    background: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.target-container .target-items .card-items .card3 h3 {
    margin: 30px auto 30px 0;
    color: rgba(13, 19, 33, 0.7);
    font-size: 30px;
    font-weight: 700;
}
.target-container .target-items .card-items .card3 p {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.target-container .target-items .card-items .card3 a {
    margin: 30px auto 30px 0;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}